<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <h1>Error.</h1>
        <p>We're sorry, we've hit an expected error.
        <a href="javascript:history.go(-1)">Click Here</a> If you would like to go back and try again</p>
        @Html.ActionLink("Back to main page", "Index", "Home")
</body>
</html>
