@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div>
            <h5>Success</h5>
            <p>Your message is successfully sent and someone will get back to you shortly</p>
        </div>
        <div>
            @Html.ActionLink("Back to the main page", "Index", "Home");
        </div>
    
    </div>
</body>
</html>
