@*@Html.ActionLink("Cart (" + ViewData["CartCount"] + ")", "Index", "ShoppingCart", new { id = "cart-status" })*@

@*<li style="display:inline; color:#fff" id="liCartItemTotal"></li>*@

<li style="display:inline"><label id="cart-status" style="color:#0094ff" for="cart">@ViewData["CartCount"]</label></li>
<!--Shopping cart icon-->
<li style="display:inline"><a name="cart" href="../ShoppingCart/Index" class="navbar-brand glyphicon glyphicon-shopping-cart" target="_blank"></a></li>

@*<li><a name="cart" href="../Payment/Index" class="navbar-brand glyphicon glyphicon-shopping-cart" target="_blank"></a></li>*@